body{
    background-color: #121212;
    color: white;
    text-align: center;
}
#submit{
    height: 40px;
    background-color: violet;
    border: none;
    border-radius: 15px;
    border: 2px solid white;
    font-size: 22px;
}
#guessfield{
    border: none;
    border-radius: 15px;
    height: 40px;
    width: 200px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#lbl{
    font-size: 40px;
}
@media (max-width:720px) {
    *{
        margin-top: 25px;
        top: 15px;
    }
    #guessfield{
        width: 250px;
        margin-top: 5px;
        
    }
    #submit{
        margin-top: 10px;
    }
    .resultparas{
        font-size: 20px;
    }
    #form{
        margin-top: 7px;
    }
}